RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|cpadmin|js|swf|img|images|sexyimages|assets|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
